@import './colors.scss';
$primary: $saturn-primary;
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


.App>.container {
    padding-top: 100px !important;
}
.App>.container-fluid{
    padding-top: 100px !important;
}


body, html {
    //height: 100%;
    //width: 100%;
    //overflow-x: hidden;
    margin: 0px;
    background-color: $saturn-background;
    color: $saturn-text;
}
@media (max-width: 1199px) {
    .display-1 {
        font-size: 5.5rem;
    }
    .display-2 {
        font-size: 5rem;
    }
    .display-3 {
        font-size: 4rem;
    }
    .display-4 {
        font-size: 3rem;
    }
}

.navbar {
    background: rgba($color: $saturn-background, $alpha: 0.5) !important;
    z-index: 100;
    //box-shadow: 0px 2px 10px rgb(255, 136, 0);
}
@media (max-width: 1199px) {
    .nav-link {
        font-size: 1.3em;
    }
}

.card-holder {
    margin-top: 20px;
    margin-bottom: 10px;
}

.card {
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgb(172, 172, 172);
}

.card-body {
    background: #eee;
}

address {
    margin-top: 20px;
}

a {
    color: rgb(255, 115, 0);    
}

a:hover {
    color: rgb(189, 85, 0);
}

.sponsor-card {
    margin-top: 0;
}

.sponsor-img {
    width: 100%;
}
li.nav-item.invisible {
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
}
/*#logged-in-as .navbar-text {
    color: #7e7e7e;
    font-weight: 400;
}*/

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.178);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 8px 5px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 34px;
    line-height: 1.33;
}
