@import '~bootstrap/scss/bootstrap';

#carouselComponent {
    background: black;
}

.card {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.card-body {
    background: #eee;
}

address {
    margin-top: 20px;
}

a {
    color: #048;    
}

a:hover {
    color: #08c;
}

.sponsor-card {
    margin-top: 0;
}

.sponsor-img {
    width: 100%;
}
