@import '~bootstrap/scss/bootstrap';

#carouselComponent {
    background: black;
}

.card {
    margin-top: 20px;
}

.card-body {
    background: #eee;
}

address {
    margin-top: 20px;
}

a {
    color: #048;    
}

a:hover {
    color: #08c;
}
